# Системные файлы
.DS_Store
Thumbs.db

# Папки, создаваемые Visual Studio
.vs/
bin/
obj/

# Пакеты и зависимости .NET
packages/
project.lock.json
project.fragment.lock.json
*.user

# Лог-файлы
*.log

# Конфигурации среды разработки
.idea/
.vscode/

# Временные файлы
*.tmp
*.bak
